# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# SESSION_SECRET: Secret for signing JWT authentication tokens
SESSION_SECRET="roadsafe-india-super-secure-secret-2026-key"

# Port (defaults to 3000)
PORT=3000
